<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoStay"
        tools:targetApi="31">

        <activity
            android:name=".VerMasDenuncias"
            android:exported="false" />
        <activity
            android:name=".itemVerMasDenuncias"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".hoteles_cerca"
            android:exported="false" />
        <activity
            android:name=".item_busquedas_hoteles"
            android:exported="false" />
        <activity
            android:name=".activity_resenas"
            android:exported="false" />
        <activity
            android:name=".RealizarDenuncia"
            android:exported="false" />
        <activity

            android:name=".TusComentarios"
            android:exported="false" />
        <activity
            android:name=".proximo_destino"
            android:exported="false" />
        <activity
            android:name=".opcionesdebusquedad"
            android:exported="false" />
        <activity
            android:name=".item_ofertas"
            android:exported="false" />
        <activity
            android:name=".Ofertas"
            android:exported="false" />
        <activity
            android:name=".detalle_denuncias"
            android:exported="false" />
        <activity
            android:name=".itemDenuncias"
            android:exported="false" />
        <activity
            android:name=".Denuncias"
            android:exported="false" />
        <activity
            android:name=".itemHotelAdmin"
            android:exported="false" />
        <activity
            android:name=".activity_politicas"
            android:exported="false" />
        <activity
            android:name=".ItemHabitacionesActivity"
            android:exported="false" />
        <activity
            android:name=".InicioAdmin"
            android:exported="false" />
        <activity
            android:name=".activity_reservaciones"
            android:exported="false" />
        <activity
            android:name=".activity_habitacion_economica"
            android:exported="false" />
        <activity
            android:name=".activity_eleccion_habitacion"
            android:exported="false" />
        <activity
            android:name=".activity_reserva"
            android:exported="false" />
        <activity
            android:name=".activity_card_fav"
            android:exported="false" />
        <activity
            android:name=".activity_editar_perfil"
            android:exported="false" />
        <activity
            android:name=".hotel_detalles"
            android:exported="false" />
        <activity
            android:name=".ItemHotelActivity"
            android:exported="false" />
        <activity
            android:name=".item_card"
            android:exported="false" />
        <activity
            android:name=".Activity_MostrarHotel"
            android:exported="false" />
        <activity
            android:name=".Splash_Screen"

            android:exported="true" >
        </activity>

        <activity
            android:name=".Reservas"
            android:exported="false" />
        <activity
            android:name=".Favoritos"
            android:exported="false" />
        <activity
            android:name=".PaginaInicio"
            android:exported="false" />
        <activity
            android:name=".Confirmacion_Cuenta"
            android:exported="false" />
        <activity
            android:name=".activity_iniciar_sesion"
            android:exported="false" />
        <activity
            android:name=".activity_registrarse"
            android:exported="true"
            android:label="@string/title_activity_registrarse"
            android:theme="@style/Theme.GoStay"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreacionContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".RecuperacionCuentaActivity"
            android:exported="false" />
        <activity
            android:name=".Bienvenida"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false"/>
    </application>

</manifest>